################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/lab 1/v15/Server/sqlite3
/.vs/ConsoleApp1/v15/Server/sqlite3
/.vs/Lab1/v15/Server/sqlite3
/lab 2/.vs/lab 2/v15/Server/sqlite3
